In [1]:
# to be ignored when copying in the main file
import pandas as pd
import requests
import json
import time

# to be added

import numpy as np
import datetime
from datetime import *
from dateutil.relativedelta import *
import calendar

In [2]:
#reading excel
wikidata = pd.read_excel('Wikipedia_ready_xl.xlsx')  
#creating dataframe with wiki data
Wiki =pd.DataFrame(wikidata)
# change the titles to upper case
Wiki['Page'] = Wiki['Page'].str.upper()

In [3]:
#importing NYTimes
NYTimes = pd.read_csv('results_fourcategories.csv')
NYT =pd.DataFrame(NYTimes[['rank', 'title','author','date','month_on_list']])
pd.set_option('display.max_rows', 100)
#NYT2 = NYT[['rank', 'title','author','date','month_on_list']]

In [4]:
NYT.head()

,rank,title,author,date,month_on_list
0,1,ALONE,Lisa Gardner,2011-03-01,1.0
1,2,TICK TOCK,James Patterson and Michael Ledwidge,2011-03-01,2.0
2,3,THE GIRL WITH THE DRAGON TATTOO,Stieg Larsson,2011-03-01,8.0
3,4,WATER FOR ELEPHANTS,Sara Gruen,2011-03-01,5.0
4,5,THE GIRL WHO PLAYED WITH FIRE,Stieg Larsson,2011-03-01,7.0

In [5]:
#Merging the data based on Wiki

Dataset =pd.merge(Wiki, NYT, left_on='Page', right_on='title')
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 10)
Dataset.head()

,Rank,Page,Views in millions,rank,title,author,date,month_on_list
0,2,FIFTY SHADES OF GREY,49,1,FIFTY SHADES OF GREY,E L James,2012-04-01,21.0
1,2,FIFTY SHADES OF GREY,49,1,FIFTY SHADES OF GREY,E L James,2012-05-01,21.0
2,2,FIFTY SHADES OF GREY,49,1,FIFTY SHADES OF GREY,E L James,2012-06-01,21.0
3,2,FIFTY SHADES OF GREY,49,1,FIFTY SHADES OF GREY,E L James,2012-07-01,4.0
4,2,FIFTY SHADES OF GREY,49,1,FIFTY SHADES OF GREY,E L James,2012-08-01,21.0

In [6]:
# find unique values

Dataset.title.unique()

array(['FIFTY SHADES OF GREY', 'A GAME OF THRONES', "THE HANDMAID'S TALE",
       'THE GIRL WITH THE DRAGON TATTOO', 'INFERNO', 'IT'], dtype=object)

In [7]:
#find duplicates

Duplicates = Dataset[Dataset.duplicated(['title'])]
print("Duplicated Rows are :", Duplicates[['title','date','month_on_list']], sep='\n')

Duplicated Rows are :
                              title        date  month_on_list
1              FIFTY SHADES OF GREY  2012-05-01           21.0
2              FIFTY SHADES OF GREY  2012-06-01           21.0
3              FIFTY SHADES OF GREY  2012-07-01            4.0
4              FIFTY SHADES OF GREY  2012-08-01           21.0
5              FIFTY SHADES OF GREY  2012-09-01            4.0
6              FIFTY SHADES OF GREY  2012-10-01           21.0
7              FIFTY SHADES OF GREY  2012-11-01           21.0
8              FIFTY SHADES OF GREY  2012-12-01           21.0
9              FIFTY SHADES OF GREY  2013-01-01            4.0
10             FIFTY SHADES OF GREY  2013-02-01           21.0
11             FIFTY SHADES OF GREY  2013-03-01           21.0
12             FIFTY SHADES OF GREY  2013-04-01           21.0
13             FIFTY SHADES OF GREY  2013-05-01           21.0
14             FIFTY SHADES OF GREY  2013-06-01           21.0
15             FIFTY SHADES OF GREY  2013-09-01           21.0
16             FIFTY SHADES OF GREY  2013-10-01           21.0
17             FIFTY SHADES OF GREY  2013-11-01           21.0
18             FIFTY SHADES OF GREY  2013-12-01           21.0
19             FIFTY SHADES OF GREY  2014-01-01            4.0
20             FIFTY SHADES OF GREY  2014-09-01           21.0
21             FIFTY SHADES OF GREY  2014-12-01           21.0
22             FIFTY SHADES OF GREY  2015-02-01           21.0
23             FIFTY SHADES OF GREY  2015-03-01           21.0
24             FIFTY SHADES OF GREY  2015-04-01           21.0
26                A GAME OF THRONES  2011-06-01           22.0
27                A GAME OF THRONES  2011-07-01           22.0
28                A GAME OF THRONES  2011-08-01           22.0
29                A GAME OF THRONES  2011-09-01           22.0
30                A GAME OF THRONES  2011-10-01           22.0
31                A GAME OF THRONES  2012-01-01            1.0
32                A GAME OF THRONES  2012-04-01           22.0
33                A GAME OF THRONES  2012-05-01           22.0
34                A GAME OF THRONES  2012-06-01           22.0
35                A GAME OF THRONES  2012-07-01           22.0
36                A GAME OF THRONES  2012-08-01           22.0
37                A GAME OF THRONES  2013-06-01           22.0
38                A GAME OF THRONES  2013-07-01           22.0
39                A GAME OF THRONES  2013-12-01           22.0
40                A GAME OF THRONES  2014-05-01           22.0
41                A GAME OF THRONES  2014-06-01           22.0
42                A GAME OF THRONES  2014-07-01           22.0
43                A GAME OF THRONES  2015-07-01           22.0
44                A GAME OF THRONES  2017-08-01           22.0
45                A GAME OF THRONES  2017-09-01           22.0
46                A GAME OF THRONES  2019-05-01           22.0
47                A GAME OF THRONES  2019-06-01           22.0
49              THE HANDMAID'S TALE  2017-05-01            8.0
50              THE HANDMAID'S TALE  2017-06-01            8.0
51              THE HANDMAID'S TALE  2017-07-01            8.0
52              THE HANDMAID'S TALE  2017-08-01            8.0
53              THE HANDMAID'S TALE  2017-09-01            8.0
54              THE HANDMAID'S TALE  2018-06-01            8.0
55              THE HANDMAID'S TALE  2019-10-01            8.0
57  THE GIRL WITH THE DRAGON TATTOO  2011-04-01            8.0
58  THE GIRL WITH THE DRAGON TATTOO  2011-05-01            8.0
59  THE GIRL WITH THE DRAGON TATTOO  2011-07-01            1.0
60  THE GIRL WITH THE DRAGON TATTOO  2011-12-01            8.0
61  THE GIRL WITH THE DRAGON TATTOO  2012-01-01            8.0
62  THE GIRL WITH THE DRAGON TATTOO  2012-02-01            8.0
63  THE GIRL WITH THE DRAGON TATTOO  2012-03-01            8.0
64  THE GIRL WITH THE DRAGON TATTOO  2012-04-01            8.0
65  THE GIRL WITH THE DRAGON TATTOO  2008-10-01            5.0
66  THE GIRL WITH THE DRAGON TATTOO  2008-11-01            5.0
67  THE GIRL WITH THE DRAGON TATTOO  2008-12-01            5.0
68  THE GIRL WITH THE DRAGON TATTOO  2009-01-01            5.0
69  THE GIRL WITH THE DRAGON TATTOO  2009-02-01            5.0
71                          INFERNO  2013-07-01            5.0
72                          INFERNO  2013-08-01            5.0
73                          INFERNO  2013-09-01            5.0
74                          INFERNO  2013-10-01            5.0
75                          INFERNO  2014-01-01            8.0
76                          INFERNO  2014-06-01            1.0
77                          INFERNO  2016-11-01            1.0
78                          INFERNO  2013-06-01            8.0
79                          INFERNO  2013-07-01            8.0
80                          INFERNO  2013-08-01            8.0
81                          INFERNO  2013-09-01            8.0
82                          INFERNO  2013-10-01            8.0
83                          INFERNO  2013-12-01            8.0
84                          INFERNO  2014-01-01            8.0
86                               IT  2017-11-01            2.0
87                               IT  2019-10-01            1.0

In [8]:
#DATA CLEANING

In [9]:
Dataset.columns

Index(['Rank', 'Page', 'Views in millions', 'rank', 'title', 'author', 'date',
       'month_on_list'],
      dtype='object')

In [10]:
#1. Column renaming
Dataset = Dataset.rename(columns = {'Rank':'Wiki_Rank', 'Views in millions': 'Page_Visits','Page':'Wiki_Title', 'rank':'NYT_Rank', 
                                    'title': 'NYT_Title','author':'Author','date':'Start_Date','month_on_list':'Duration'})
Dataset.columns

Index(['Wiki_Rank', 'Wiki_Title', 'Page_Visits', 'NYT_Rank', 'NYT_Title',
       'Author', 'Start_Date', 'Duration'],
      dtype='object')

In [11]:
#2. Assigning a new column to store the End date
Dataset['End_Date'] = Dataset.apply(lambda _: '', axis=1)

Dataset.columns

Index(['Wiki_Rank', 'Wiki_Title', 'Page_Visits', 'NYT_Rank', 'NYT_Title',
       'Author', 'Start_Date', 'Duration', 'End_Date'],
      dtype='object')

In [12]:
#3 Calculating End Date
Dataset['Start_Date'] = pd.to_datetime(Dataset['Start_Date'])
Dataset['End_Date'] = pd.to_datetime(Dataset['End_Date'])

f = lambda x: x ['Start_Date'] + relativedelta(months = int(x['Duration']))
Dataset['End_Date'] = Dataset.apply(f, axis=1)

Dataset.columns

Index(['Wiki_Rank', 'Wiki_Title', 'Page_Visits', 'NYT_Rank', 'NYT_Title',
       'Author', 'Start_Date', 'Duration', 'End_Date'],
      dtype='object')

In [13]:
#4 Finding the earliest start date and the latest end date
later_end_date = (pd.DataFrame(Dataset.groupby('Wiki_Title')['End_Date'].max())).rename(columns = {'End_Date':'E_Date'})
earlier_start_date = (pd.DataFrame(Dataset.groupby('Wiki_Title')['Start_Date'].min())).rename(columns = {'Start_Date':'S_Date'})

In [14]:
#5a Incorporating the new info in the main Dataset
Dataset1 = later_end_date.merge(earlier_start_date, on = 'Wiki_Title')

Dataset2 = Dataset.merge(Dataset1, on = 'Wiki_Title')
Dataset2.head() 

#Final_Dataset1 = Final_Dataset1[['Wiki_Rank','NYT_Rank','Wiki_Title','S_Date', 'E_Date', 'Duration_y','Page_Visits']]

#Final_Dataset2.drop_duplicates()

#Final_Dataset1 = Final_Dataset1.groupby(['Wiki_Title'])

,Wiki_Rank,Wiki_Title,Page_Visits,NYT_Rank,NYT_Title,...,Start_Date,Duration,End_Date,E_Date,S_Date
0,2,FIFTY SHADES OF GREY,49,1,FIFTY SHADES OF GREY,...,2012-04-01,21.0,2014-01-01,2017-01-01,2012-04-01
1,2,FIFTY SHADES OF GREY,49,1,FIFTY SHADES OF GREY,...,2012-05-01,21.0,2014-02-01,2017-01-01,2012-04-01
2,2,FIFTY SHADES OF GREY,49,1,FIFTY SHADES OF GREY,...,2012-06-01,21.0,2014-03-01,2017-01-01,2012-04-01
3,2,FIFTY SHADES OF GREY,49,1,FIFTY SHADES OF GREY,...,2012-07-01,4.0,2012-11-01,2017-01-01,2012-04-01
4,2,FIFTY SHADES OF GREY,49,1,FIFTY SHADES OF GREY,...,2012-08-01,21.0,2014-05-01,2017-01-01,2012-04-01

In [15]:
Dataset2 = Dataset2[['Wiki_Title','Page_Visits','Wiki_Rank','NYT_Title','S_Date','E_Date','Duration']]

In [16]:
Dataset2.head()

,Wiki_Title,Page_Visits,Wiki_Rank,NYT_Title,S_Date,E_Date,Duration
0,FIFTY SHADES OF GREY,49,2,FIFTY SHADES OF GREY,2012-04-01,2017-01-01,21.0
1,FIFTY SHADES OF GREY,49,2,FIFTY SHADES OF GREY,2012-04-01,2017-01-01,21.0
2,FIFTY SHADES OF GREY,49,2,FIFTY SHADES OF GREY,2012-04-01,2017-01-01,21.0
3,FIFTY SHADES OF GREY,49,2,FIFTY SHADES OF GREY,2012-04-01,2017-01-01,4.0
4,FIFTY SHADES OF GREY,49,2,FIFTY SHADES OF GREY,2012-04-01,2017-01-01,21.0

In [17]:
#Dealing with duplicates
#Approach 1:

#Group by average duration

MeanDuration=Dataset.groupby('Wiki_Title')['Duration'].mean()

#Dataset.head()
#Dataset = (Dataset.groupby('Wiki_Title').agg({'Duration': np.average}))
#Dataset = (Dataset.groupby('Wiki_Title').agg('Duration'= np.average))

#Dataset['Months'] = Dataset.apply(lambda _: '', axis=1)
MeanDuration

Wiki_Title
A GAME OF THRONES                  21.086957
FIFTY SHADES OF GREY               18.280000
INFERNO                             6.066667
IT                                  1.666667
THE GIRL WITH THE DRAGON TATTOO     6.428571
THE HANDMAID'S TALE                 8.000000
Name: Duration, dtype: float64

In [18]:
Dataset3 = Dataset2.merge(MeanDuration, on = 'Wiki_Title')
Dataset3.columns

Index(['Wiki_Title', 'Page_Visits', 'Wiki_Rank', 'NYT_Title', 'S_Date',
       'E_Date', 'Duration_x', 'Duration_y'],
      dtype='object')

In [19]:
#removing duplicated column
Dataset3 = Dataset3.drop(['Duration_x'], axis = 1)

Dataset3.columns

Index(['Wiki_Title', 'Page_Visits', 'Wiki_Rank', 'NYT_Title', 'S_Date',
       'E_Date', 'Duration_y'],
      dtype='object')

In [28]:
Final_Dataset = (Dataset3.groupby('Wiki_Title', as_index = False)[])
type(Final_Dataset )

pandas.core.groupby.generic.DataFrameGroupBy

In [21]:
#Approach 2: 
#Find the End_Date, and recalculate duration based on the difference between the earliest start date and the latest end date

# Calculating the end date in order to find out the maximum duration amongst the duplicates

Dataset['Start_Date'] = pd.to_datetime(Dataset['Start_Date'])
Dataset['End_Date'] = pd.to_datetime(Dataset['End_Date'])

f = lambda x: x ['Start_Date'] + relativedelta(months = int(x['Duration']))
Dataset['End_Date'] = Dataset.apply(f, axis=1)

later_end_date = (pd.DataFrame(Dataset.groupby('Wiki_Title')['End_Date'].max())).rename(columns = {'End_Date':'E_Date'})
earlier_start_date = (pd.DataFrame(Dataset.groupby('Wiki_Title')['Start_Date'].min())).rename(columns = {'Start_Date':'S_Date'})

Dataset1 = pd.merge(Dataset, later_end_date, left_on = 'Wiki_Title', right_on = 'Wiki_Title')

Final_Dataset = pd.merge(Dataset1, earlier_start_date, left_on ='Wiki_Title', right_on = 'Wiki_Title')
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 10)

Final_Dataset = Final_Dataset.drop_duplicates(subset = ['Wiki_Title'])

# Reindexing
Final_Dataset =Final_Dataset.reset_index(drop=True)
# Renaming Columns                                         
Final_Dataset = Final_Dataset.rename(columns = {'Wiki_Title':'Title','S_Date':'From','E_Date':'To'})                                         
Final_Dataset

,Wiki_Rank,Title,Page_Visits,NYT_Rank,NYT_Title,...,Start_Date,Duration,End_Date,To,From
0,2,FIFTY SHADES OF GREY,49,1,FIFTY SHADES OF GREY,...,2012-04-01,21.0,2014-01-01,2017-01-01,2012-04-01
1,9,A GAME OF THRONES,27,9,A GAME OF THRONES,...,2011-05-01,22.0,2013-03-01,2021-04-01,2011-05-01
2,14,THE HANDMAID'S TALE,22,13,THE HANDMAID'S TALE,...,2017-03-01,8.0,2017-11-01,2020-06-01,2017-03-01
3,17,THE GIRL WITH THE DRAGON TATTOO,20,3,THE GIRL WITH THE DRAGON TATTOO,...,2011-03-01,8.0,2011-11-01,2012-12-01,2008-10-01
4,21,INFERNO,19,1,INFERNO,...,2013-06-01,5.0,2013-11-01,2016-12-01,2013-06-01
5,22,IT,18,2,IT,...,2017-10-01,2.0,2017-12-01,2019-11-01,2017-10-01

In [22]:
#FIGURE THIS OUT#
Final_Dataset['From'] = pd.to_datetime(Final_Dataset['From'])
Final_Dataset['To'] = pd.to_datetime(Final_Dataset['To'])

Final_Dataset['Total_Months'] = Dataset.apply(lambda _: '', axis=1)

f = lambda x: x ['To'] - ['From']
Final_Dataset['Total_Months'] = Final_Dataset.apply(f, axis=1)
Final_Dataset

TypeError: unsupported operand type(s) for -: 'Timestamp' and 'list'

In [ ]:
#Approach 2: 
#Find the End_Date, and recalculate duration based on the difference between the earliest start date and the latest end date

later_end_date = (pd.DataFrame(Dataset.groupby('Wiki_Title')['End_Date'].max())).rename(columns = {'End_Date':'E_Date'})
earlier_start_date = (pd.DataFrame(Dataset.groupby('Wiki_Title')['Start_Date'].min())).rename(columns = {'Start_Date':'S_Date'})

Dataset1 = pd.merge(Dataset, later_end_date, left_on = 'Wiki_Title', right_on = 'Wiki_Title')

Final_Dataset = pd.merge(Dataset1, earlier_start_date, left_on ='Wiki_Title', right_on = 'Wiki_Title')
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 10)

In [ ]:
#3. Changing the order of the columns
column_order = ['Wiki_Rank','NYT_Rank','Wiki_Title','NYT_Title','Author','Start_Date','End_Date','Duration','Page_Visits']
Dataset = Dataset[column_order]


#4 Changing Duration to int
#Dataset["Duration"] = Dataset["Duration"].astype(int)

In [ ]:
ADD IT AT THE END
#del Final_Dataset['NYT_Title']
#del Final_Dataset['End_Date']
#del Final_Dataset['Start_Date']
#column_order = ['Wiki_Rank','NYT_Rank','Wiki_Title','Author','S_Date','E_Date','Duration','Page_Visits']
#Final_Dataset = Final_Dataset[column_order]